/* .home {
    background: url("../images/home_img.jpg") no-repeat center/cover;

    display: flex;
    width: 100%;
    height: 100vh;
   
} */

.home {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    /* Ensures video doesn't overflow */
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Additional styling for your form elements can go here */


/* Additional styling for your form elements can go here */

.hold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    /* margin: auto; */
    /* margin-top: 2em; */
    margin-top: auto;
    padding: 1em;
    color: black;
}

.ishani_sudur {
    /* margin-top: -7em; */
    /* margin-top: 3em; */
    font-weight: 500;
    font-size: 8em;
    letter-spacing: 50px;
    padding-top: 1em;
    white-space: no-wrap;
}

/* .time {
    margin-top: 1em;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: .05em;
    ;

} */

/* .date {
    margin-top: 1em;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} */

.rsvp button {
    margin-top: 3em;
    width: 100%;
    padding: 4rem;
    background-color: hsla(60, 3%, 36%, 1);
    border: none;
    color: white;
    box-shadow: 3px 2px 1px 1px rgb(168, 163, 163);


}

.pls_p {
    margin-top: 1em;
    font-weight: 600;
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
}



.reception {
    margin-top: 4em;
    text-align: center;
    font-size: 2em;
}

.wedding {
    margin-top: 2em;
    text-align: center;
    margin-bottom: 2em;
    font-size: 2em;
}

.day {
    font-weight: 400;
    font-size: 1.3em;
    word-spacing: 3px;
    letter-spacing: 2px;
}

.dates {
    word-spacing: 3px;
    padding: .2em;
    letter-spacing: 2px;
}

.addy {

    font-size: .7em;
}

.addi {

    font-size: .7em;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    /* margin: auto; */
    margin-top: 2em;
    font-size: 2em;




}

/* .story {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 90%;
    margin: auto;
    margin-top: 1em;


} */

.story img {
    width: 100%;
    height: 100%;
    border-radius: 1.5em;
    filter: drop-shadow(1.5em 1.6em 1em rgba(226, 189, 195, 0.438));
    object-fit: contain;


}

.photos {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 40%;

}

.column1,
.column4 {
    align-self: center;
    width: 50%;
}

.column2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;

}

.modalContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.modalContent div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalContent img {
    width: 90%;
    border-radius: 2em;
}

.modalContent button {
    padding: .5em;
    background-color: rgb(83, 78, 78);
    color: wheat;
    border-radius: 1em;

}





.column3 {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: .7em;
    line-height: 1.7em;
    gap: 1.2em;
}

.story h1 {
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 2px;


}

.story h2 {
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.story h3 {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer {
    display: flex;
    margin-top: 2em;
    /* background-color: rgb(245, 240, 234); */
    flex-direction: column;
    background-color: rgb(218, 216, 212);
    height: 15vh;
    color: black;
    justify-content: center;
    /* position: absolute;
    width: 100%;
    bottom: 0; */
    padding: 1em;
    font-size: 1em;
    font-weight: 150;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footer h1 {
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
}

.footer h2 {
    font-weight: lighter;
    font-weight: 300;
    letter-spacing: 5px;


}


@media screen and (max-width:349px) {


    .ishani_sudur {
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 2.01px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 1em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 1em;
        font-weight: 400;
        font-size: 0.9em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 100%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 30vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1em;
    }

    .column3 {
        width: 90%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }



}

@media screen and (min-width:350px) and (max-width:400px) {


    .ishani_sudur {
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 4.2px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 1em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 1em;
        font-weight: 400;
        font-size: 0.9em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 100%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 33vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1em;
    }

    .column3 {
        width: 80%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }



}

@media screen and (min-width:401px) and (max-width:470px) {


    .ishani_sudur {
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 7.93px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 1em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 1em;
        font-weight: 400;
        font-size: 0.8em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 90%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 35vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1em;
    }

    .column3 {
        width: 80%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }


}

@media screen and (min-width:471px) and (max-width:540px) {


    .ishani_sudur {
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 12.93px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 1em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 1em;
        font-weight: 400;
        font-size: 0.8em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 90%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 42vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1em;
    }

    .column3 {
        width: 80%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }


}

@media screen and (min-width:541px) and (max-width:630px) {


    .ishani_sudur {
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 17px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 1.5em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 1em;
        font-weight: 400;
        font-size: 0.8em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 80%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 50vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1em;
    }

    .column3 {
        width: 80%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }


}

@media screen and (min-width:541px) and (max-width:630px) {


    .ishani_sudur {
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 17px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 1.5em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 1em;
        font-weight: 400;
        font-size: 0.8em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 80%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 50vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1em;
    }

    .column3 {
        width: 80%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }


}

@media screen and (min-width:630px) and (max-width:720px) {


    .ishani_sudur {
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 17px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 1.5em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 1em;
        font-weight: 400;
        font-size: 0.8em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 80%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 50vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1em;
    }

    .column3 {
        width: 80%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }


}

@media screen and (min-width:720px) and (max-width:800px) {


    .ishani_sudur {
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 17px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 1.5em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 1em;
        font-weight: 400;
        font-size: 0.8em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 80%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 50vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1em;
    }

    .column3 {
        width: 80%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }


}

@media screen and (min-width:800px) and (max-width:900px) {


    .ishani_sudur {
        font-size: 4em;
        font-weight: 500;
        letter-spacing: 17px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 1.5em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 1em;
        font-weight: 400;
        font-size: 0.8em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 70%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 50vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1em;
    }

    .column3 {
        width: 70%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }


}

@media screen and (min-width:901px) and (max-width:1300px) {


    .ishani_sudur {
        font-size: 5em;
        font-weight: 500;
        letter-spacing: 17px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 3.5em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 2em;
        font-weight: 400;
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1.5em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1.5em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 85%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 50vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1.5em;
    }

    .column3 {
        width: 70%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }


}

@media screen and (min-width:1400px) and (max-width:2000px) {


    .ishani_sudur {
        font-size: 6em;
        font-weight: 500;
        letter-spacing: 17px;
        /* margin-top: 4.9em; */
        /* margin-top: -2em; */

    }

    .rsvp button {
        padding: 3.5em;
        width: 100%;
        text-align: center;
    }

    .pls_p {
        margin-top: 2em;
        font-weight: 400;
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
    }


    .reception {
        margin-top: 4em;
        text-align: center;
        font-size: 1.5em;
    }

    .wedding {
        margin-top: 2em;
        text-align: center;
        margin-bottom: 2em;
        font-size: 1.5em;
    }

    .day {
        font-weight: 400;
        font-size: 1.3em;
        word-spacing: 3px;
        letter-spacing: 2px;
    }

    .dates {
        word-spacing: 3px;
        padding: .2em;
        letter-spacing: 2px;
    }

    .addy {

        font-size: .7em;
    }

    .addi {

        font-size: .7em;
    }


    .photos {
        width: 65%;

    }

    .times {
        margin-bottom: 1em;
    }


    .text {
        font-size: 1.2em;
        font-weight: 550;
    }

    .home {
        height: 50vh;
    }

    .story {


        width: 100%;
        margin-top: 1em;
        font-size: 1.5em;
    }

    .column3 {
        width: 60%;
        align-items: center;
    }

    .footer {
        font-size: .7em;

    }


}